body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefefe;
}

header{
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

 nav a{
    color: #ccc;
    text-decoration: none;
}

nav a:hover{
    color: white;
}

#home{
    background-color: #e8e8e8;
    text-align: center;
    padding: 60px 20px;
}

.shop-btn{
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.shop-btn:hover{
    background-color: #ccc;
    color: black;
}

#about{
    padding: 40px 20px;
    text-align: center;
}

#collection{
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.product{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    display: inline-block;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
    background-color: white;
}
.product:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-btn{
    margin-top: 10px;
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.product-btn:hover{
    
    background-color: #ccc;
    color: black;
}

#contact{
    padding: 40px 20px;
    text-align: center;
}

input, textarea{
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

textarea{
    height: 100px;
}

.form-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.form-btn:hover{
    background-color: #ccc;
    color: black;
}

footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block;
    margin: 0 10px;
}

footer nav ul li:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    color: #888;
}
